package v1

import (
	"{{ .ModuleName }}/internal/util"
	"github.com/gin-gonic/gin"
)

type HelloHandler struct {
	// You can inject services here later
}

func NewHelloHandler() *HelloHandler {
	return &HelloHandler{}
}

func (h *HelloHandler) GetHello(c *gin.Context) {
	util.SendSuccess(c, "Hello, World!", nil)
}