package v1

import (
	"{{ .ModuleName }}/internal/service"
	"{{ .ModuleName }}/internal/util"
	"github.com/gin-gonic/gin"
)

type HelloHandler struct {
	helloService service.HelloService
}

func NewHelloHandler(helloService service.HelloService) *HelloHandler {
	return &HelloHandler{helloService: helloService}
}

func (h *HelloHandler) GetHello(c *gin.Context) {
	message := h.helloService.GetMessage()
	util.SendSuccess(c, message, nil)
}