package main

import (
	"log"
	"{{ .ModuleName }}/internal/config"
	"{{ .ModuleName }}/internal/server"
	"github.com/gin-gonic/gin"
)

func main() {
	cfg, err := config.LoadConfig()
	if err != nil {
		log.Fatalf("could not load config: %v", err)
	}

	gin.SetMode(cfg.Server.Mode)

	// The signature from Wire's generated function will no longer return an error.
	appRouter := server.InitializeAPI(cfg)

	log.Printf("Server running on :%s in %s mode", cfg.Server.Port, cfg.Server.Mode)
	err = appRouter.Run(":" + cfg.Server.Port)
	if err != nil {
		log.Fatalf("could not run server: %v", err)
	}
}