package v1

import (
	"{{ .ModuleName }}/api/v1/handler"
	"github.com/gin-gonic/gin"
)

// SetupRouter configures the routes and returns the configured gin engine.
func SetupRouter(r *gin.Engine, helloHandler *handler.HelloHandler) *gin.Engine {
	api := r.Group("/api/v1")
	{
		api.GET("/hello-world", helloHandler.GetHelloWorld)

		// You can add other route groups here later
	}

	return r
}