package router

import (
	v1 "{{ .ModuleName }}/internal/handler/v1"
	"github.com/gin-gonic/gin"
)

// Handlers holds all the handlers that will be injected into the router.
type Handlers struct {
	HelloHandler *v1.HelloHandler
}

// NewRouter creates and configures a new router.
func NewRouter(h Handlers) *gin.Engine {
	router := gin.Default()

	apiV1 := router.Group("/api/v1")
	{
		apiV1.GET("/hello", h.HelloHandler.GetHello)
	}

	return router
}