//go:generate wire
//go:build wireinject
// +build wireinject

package server

import (
	"{{ .ModuleName }}/internal/config"
	"{{ .ModuleName }}/internal/database"
	v1 "{{ .ModuleName }}/internal/handler/v1"
	"{{ .ModuleName }}/internal/logger"
	"{{ .ModuleName }}/internal/router"
	"github.com/gin-gonic/gin"
	"github.com/google/wire"
)

// initializeAPI initializes the application server.
func InitializeAPI(cfg config.Config) (*gin.Engine, error) {
	wire.Build(
		database.NewGormDB,
		logger.New,
		v1.NewHelloHandler,
		wire.Struct(new(router.Handlers), "*"),
		router.NewRouter,
	)
	return nil, nil
}